<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Регистрация</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.5/examples/sign-in/signin.css" rel="stylesheet">
</head>
</body>
<body class="text-center">
<form action="/registration/add" method="post" class="form-signin">
    <h1 class="display-4">Регистрация</h1><br><br><br><br><br><br>
    <h4 class="h3 mb-3 font-weight-normal">Введите данные:</h4>
    <!--    <label for="inputEmail" class="sr-only">Email address</label>-->
    <input type="text" name="login" class="form-control" placeholder="Логин" required autofocus>
    <!--    <label for="inputPassword" class="sr-only">Password</label>-->
    <input type="password" name="password" class="form-control" placeholder="Пароль" required><br>
    <!--        <button type="submit" class="btn btn-success">Добавить </button>-->
    <button type="submit" class="btn btn-lg btn-primary btn-block">Зарегистрироваться</button>
    <br>
    <div class="checkbox mb-3">
        <a class="btn btn-lg btn-primary btn-block" href="/">Авторизация</a>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

</form>
</body>

</html>