<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Задания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-2">
    <h1>Редактирование задания задания</h1>
    <div  th:each = "el : ${task}">
        <form method="post">
            <input type="text" th:value="${el.name}" name="name" placeholder="Введите название задания" class="form-control"><br>
            <input type="text" th:value="${el.dateComplected}" name="dateComplected" placeholder="Введите число выполнения задания"
                   class="form-control"><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>